body {
  font-family: Helvetica, sans-serif;
  background: rgb(188,105,255);
  background: linear-gradient(132deg, rgb(167, 87, 233) 9%, rgb(114, 32, 182) 55%, rgb(97, 27, 151) 70%, rgb(64, 9, 107) 88%, rgb(27, 26, 26) 100%);
  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}