/*====card==*/



@media (max-width: 8000px) {
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
    top: 120px;
    }
  .item {
    width: 100%;
    max-width: calc(25% - 20px);

    }

  }
@media (max-width: 1350px) {
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
    top: 170px;
  }
  .item {
    width: 100%;
    max-width: calc(25% - 20px);
  }

}
@media (max-width: 1030px) {
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 30px;    
    top: 220px;
  }
  .item {
    width: 100%;
    max-width: calc(25% - 20px);
  }

}
@media (max-width: 670px) {
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    gap: 30px;  
    top: 270px;
  }
  .item {
    width: 100%;
    max-width: calc(25% - 20px);
    position: relative;
  }

}



.card {
  position: relative;
  width: 310px;
  height: 350px;
  background: white;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: grid;
  z-index: 2;
  
  }

.subcard {
  height: 80px;
  width: 310px;
  padding: 0px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background: rgba(250, 250, 238, 0.8);
  border-radius: 5px;
  margin-top: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 20pt !important;
  cursor: pointer;
  /* transition: filter 0.2s ease-in-out; */
}

.subcard:hover,
.card:hover ~ .subcard,
.card:hover ~ .subcard span:not(.subcardImage) {
  --shadow-color-1: rgba(255, 184, 184, 0.663);
  background-color: lightgray;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-shadow:
    0 0 5px var(--shadow-color-1),
    0 0 10px var(--shadow-color-1),
    0 0 15px var(--shadow-color-1),
    0 0 20px var(--shadow-color-1),
    0 0 25px var(--shadow-color-1),
    0 0 30px var(--shadow-color-1),
    0 0 35px var(--shadow-color-1),
    0 0 40px var(--shadow-color-1),
    0 0 45px var(--shadow-color-1),
    0 0 50px var(--shadow-color-1);
}

:not(.subcardImage:hover).subcard:hover span:not(.subcardImage) {
  background-color: lightgray;
  color: rgb(0, 0, 0);
  --shadow-color-2: rgba(255, 99, 99, 0.677);
  text-decoration: underline;
  text-shadow:
    0 0 5px var(--shadow-color-2),
    0 0 10px var(--shadow-color-2),
    0 0 15px var(--shadow-color-2),
    0 0 20px var(--shadow-color-2),
    0 0 25px var(--shadow-color-2),
    0 0 30px var(--shadow-color-2),
    0 0 35px var(--shadow-color-2),
    0 0 40px var(--shadow-color-2),
    0 0 45px var(--shadow-color-2),
    0 0 50px var(--shadow-color-2);
}

.card:hover ~ .subcard:not(.subcardImage)
.card:hover ~ .subcard:not(.subcardImage) span {
  background-color: rgba(255, 154, 115, 0.8);
}

.details2 {
  font-size: 25px;
  font-weight: 400;
  /* text-rendering: optimizelegibility; */
  color: black;
  margin-left: 10px;
  flex-grow: 1;
  text-align: center;
}

.subcardImage {
  float: right;
  height: 80px; /* adjust the height as needed */
  padding: 15px 11px;
  margin-left: 10px;
  background-color: rgb(255, 184, 184);
  /* transition: filter 0.2s ease-in-out; */
}

.subcardImage:hover {
  /* filter: contrast(60%); */
  background-color: rgb(255, 122, 122);
}

.card .poster {
position: relative;
overflow: hidden;
}

.card .poster::before {
content: "";
position: absolute;
width: 100%;
height: 100%;
background: linear-gradient( transparent);
bottom: -180px;
transition: 0.5s;
z-index: 1;
}

.card:hover .poster::before{
bottom: 0px;
}

.card .poster img {
width: 100%;
transition: 0.5s;
}

.card:hover .poster img {
  transform: translateY(-90px);
}

.card .details {
position: absolute;
bottom: 0;
left: 0;
padding: 5px;
/* height: 100%; */
width: 100%;
z-index: 2;
transition: 0.5s;
}

.card .detailsTop {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: 0.5s;
}

.card:hover .details {
  bottom: 70px;
}

.card:hover #length {
  max-width: 7rem;
  padding-right: 5px;
}


@keyframes a1 {
  from {
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.card .details h3{
color: white;
font-size: 18px;
padding: 0.5rem 0;
}

.card .details p {
  color: rgb(0, 0, 0);
  padding: 0.2px 2px;
  background: rgb(148, 38, 250);
  border-radius: 5px;
  margin-top: 50px;
}

.card .genres {
color: black;
padding: 0.2rem 0;
}

.card .details .genres span {
/* padding: 2px 5px; */
/* padding: 0.2px 2px; */
padding-left: 5px;
padding-right: 5px;
background-color: rgba(255, 255, 255, 0.900);
border-radius: 5px;
margin-top: auto;
display: block; /* Делаем span блочным элементом */
width: fit-content; /* Задаем ширину по содержимому */
margin-bottom: 2px; /* Добавляем отступ снизу */
margin-right: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
z-index: -1;
height: 24px;
}

.card .detailsTop .genres span {
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(255, 255, 255, 0.900);
  border-radius: 5px;
  margin-top: 0px;
  display: block; /* Делаем span блочным элементом */
  width: fit-content; /* Задаем ширину по содержимому */
  margin-bottom: 2px; /* Добавляем отступ снизу */
  margin-right: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  z-index: -1;
  height: 24px;
}


.card details.info h4 {
color: white;
font-size: 18px;
margin-top: 5px;
}

.hidden {
  display: none !important;
}


.detailsLayers {
  display: flex;
  flex-direction: column;
}

.hiddenDetails {
  /* position: relative !important; */
  /* visibility: hidden; */
  bottom: 0;
  left: 0;
  padding: 5px;
  /* height: 100%; */
  width: 100%;
  z-index: 2;
  transition: 0.5s;
}

.card:hover .hiddenDetails {
  bottom: 0px;
  animation-name: a1;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.card:not(:hover) .hiddenDetails {
  animation-name: a2;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@keyframes a2 {
  from {
    opacity: 1;
  }
  to {
    visibility: none;
    opacity: 0;
  }
}

/*     ____Tags____     */

.card .details .genres {
  display: flex; /* Используем flexbox для управления span */
  flex-wrap: wrap; /* Разрешаем перенос на новую строку */
  gap: 2px; /* Добавляем небольшой отступ между span */
}

.card .detailsTop .genres {
  display: flex; /* Используем flexbox для управления span */
  flex-wrap: wrap; /* Разрешаем перенос на новую строку */
  gap: 2px; /* Добавляем небольшой отступ между span */
}


.card details.info h4 {
color: white;
font-size: 18px;
margin-top: 5px;
}

.startTime {
  padding-right: 3px !important;
}

.price {
  margin-left: auto;
}

div #length {
  max-width: 0;
  -webkit-transition: max-width 0.3s;
  transition: max-width 0.3s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 3pt;
}

/* alternative 3d tag */
/* .threeD {
  width: 40px;
  margin-left: auto;
  border-radius: 5px;
  margin-top: 0px;
  opacity: 0.9;
} */