/*====card==*/



@media (max-width: 8000px) {
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
    top: 120px;
    }
  .item {
    width: 100%;
    max-width: calc(25% - 20px);

    }

  }
@media (max-width: 1350px) {
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
    top: 170px;
  }
  .item {
    width: 100%;
    max-width: calc(25% - 20px);
  }

}
@media (max-width: 1030px) {
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 30px;    
    top: 220px;
  }
  .item {
    width: 100%;
    max-width: calc(25% - 20px);
  }

}
@media (max-width: 670px) {
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    gap: 30px;  
    top: 270px;
  }
  .item {
    width: 100%;
    max-width: calc(25% - 20px);
    position: relative;
  }

}



.card {
  position: relative;
  width: 310px;
  height: 350px;
  background: white;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: grid;
  
  }

.subcard {
  /* height: 30px; */
  width: 310px;
  padding: 0px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background: rgba(250, 250, 238, 0.8);
  border-radius: 5px;
  margin-top: 0px;
  overflow: hidden;
  font-size: 10pt !important;
}

.card .poster {
position: relative;
overflow: hidden;
}

.card .poster::before {
content: "";
position: absolute;
width: 100%;
height: 100%;
background: linear-gradient( transparent);
bottom: -180px;
transition: 0.5s;
z-index: 1;
}

.card:hover .poster::before{
bottom: 0px;
}

.card .poster img {
width: 100%;
transition: 0.5s;
}

.card:hover .poster img {
  transform: translateY(-90px);
}

.card .details {
position: absolute;
bottom: 0;
left: 0;
padding: 5px;
/* height: 100%; */
width: 100%;
z-index: 2;
transition: 0.5s;
}

.card .detailsTop {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  height: 100%;
  /* width: 100%; */
  z-index: 2;
  transition: 0.5s;
}

.card:hover .details {
  bottom: 70px;
}

.card:hover #length {
  max-width: 7rem;
}


@keyframes a1 {
  from {
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.card .details h3{
color: white;
font-size: 18px;
padding: 0.5rem 0;
}

.card .details p {
  color: rgb(0, 0, 0);
  padding: 0.2px 2px;
  background: rgb(148, 38, 250);
  border-radius: 5px;
  margin-top: 50px;
}

.card .genres {
color: black;
padding: 0.2rem 0;
}

.card .details .genres span {
/* padding: 2px 5px; */
padding: 0.2px 2px;
background-color: rgba(255, 255, 255, 0.900);
border-radius: 5px;
margin-top: auto;
display: block; /* Делаем span блочным элементом */
width: fit-content; /* Задаем ширину по содержимому */
margin-bottom: 2px; /* Добавляем отступ снизу */
margin-right: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
z-index: -1;
height: 24px;
}

.card .detailsTop .genres span {
  padding: 2px 5px;
  background-color: rgba(255, 255, 255, 0.900);
  border-radius: 5px;
  margin-top: auto;
  margin-right: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  z-index: -1;
  
  }


.card details.info h4 {
color: white;
font-size: 18px;
margin-top: 5px;
}

.hidden {
  display: none;
}


.detailsLayers {
  display: flex;
  flex-direction: column;
}

.hiddenDetails {
  /* position: relative !important; */
  /* visibility: hidden; */
  bottom: 0;
  left: 0;
  padding: 5px;
  /* height: 100%; */
  width: 100%;
  z-index: 2;
  transition: 0.5s;
}

.card:hover .hiddenDetails {
  bottom: 0px;
  animation-name: a1;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.card:not(:hover) .hiddenDetails {
  animation-name: a2;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@keyframes a2 {
  from {
    opacity: 1;
  }
  to {
    visibility: none;
    opacity: 0;
  }
}

/*     ____Tags____     */

.card .details .genres {
  display: flex; /* Используем flexbox для управления span */
  flex-wrap: wrap; /* Разрешаем перенос на новую строку */
  gap: 2px; /* Добавляем небольшой отступ между span */
}


.card details.info h4 {
color: white;
font-size: 18px;
margin-top: 5px;
}

#startTime {
  margin-right: 0;
}

.price {
  margin-left: auto;
}

div #length {
  max-width: 0;
  -webkit-transition: max-width 0.3s;
  transition: max-width 0.3s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  /* margin-left: -3px; */
}


