/*-----------filters------------*/


@media (max-width: 8000px) {
  .dropdown {
    min-width: 10em;
    position: relative;
    min-height: 6vh;
    left: 250%;
    top: 40px;
  }
}

@media (max-width: 1800px) {
  .dropdown {
    min-width: 10em;
    position: relative;
    min-height: 6vh;
    left: 250px;
    top: 40px;
  }
}

@media (max-width: 1300px) {
  .dropdown {
    min-width: 10em;
    position: relative;
    min-height: 6vh;
    left: 10%;
    top: 60px;
  }
}

@media (max-width: 960px) {
  .dropdown {
    min-width: 10em;
    position: relative;
    min-height: 6vh;
    left: 0%;
    top: 70px;
  }
}

@media (max-width: 580px) {
  .dropdown {
    min-width: 10em;
    position: relative;
    min-height: 6vh;
    left: 0%;
    top: 70px;
  }
}

#filters {
  min-width: 9em;
  position: relative;
  min-height: 6vh;
  display: flex; /* Изменяем на flexbox */
  flex-wrap: wrap; /* Добавляем возможность перехода на новую строку */
  justify-content: space-between; /* Выравниваем элементы по краям */
}

.dropdown {
  flex-grow: 0.1; /* Занимаем всё доступное пространство */
  margin: 0.5em; /* Добавляем отступы */
}

.dropdown * {
  box-sizing: border-box; 
} 

.dropdown .container {
  position: relative;
  grid-template-columns: 9em;
  grid-auto-rows: min-content; /* Задаем минимальную высоту для строк */
  grid-gap: 1em;
}

.select {
  background: #db6ae6;
  color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px #e2e2e2 solid;
  border-radius: 2em;
  padding: 0.5em;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 4;
}

.select-clicked {
  border: 2px #9db4eb solid;
  box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
  background: #cf8fec;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fafafa;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #e4e6e9;
  border: 1px #1447be solid;
  box-shadow:  0 0.5em 1em rgba(202, 48, 48, 0.2);
  border-radius: 0.5em;
  color: #000000;
  position: absolute;
  top: 2em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 6;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #cf8fec;
}

.active {
  background: #d4d4d4;
}

.menu-open {
  display: block;
  opacity: 1;
}