/*------logo------*/
  :root {
    --github: rgb(64, 9, 107);
    --bs-link-color-rgb: var(--github);
  }


  .logo {
    position: absolute;
    top: 0px;
    left: 60px;
    z-index: 10;
  }
  
  .logo .container {
    display: inline-grid;
  }
  
  .credentials {
    margin-left: 10px;
    position: relative;
    color: var(--github);
  }

  .credentials:hover {
    color: #2600ff;
  }

  .githubLink {
    position: relative; /* or absolute, depending on your layout */  
    margin-left: 5px;
  }

  h1 {
    margin-bottom: -5px;
  }

  @media (max-width: 8000px) {
    h1 {
      font-weight: 50px;
      font-size: 78px;
      text-align: center;
    }

    .credentials {
      margin-top: -15px;
    }
    
  }

  @media (max-width: 1300px) {
    h1 {
      font-weight: 25px;
      font-size: 50px;
      text-align: center;
    }
  }



@media (max-width: 1100px) {
  h1 {
    font-weight: 25px;
    font-size: 48px;
    text-align: center;
  
  }
}


@-webkit-keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}@keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}

html, body {
background-color: #15161a;
font-family: 'Monoton', cursive;
}


@font-face {
font-family: 'Neon Glow';
src: url(https://assets.codepen.io/230569/NeonGlow-8VLz.ttf);
}

* {
box-sizing: inherit;
margin: 0;
padding: 0;
}

html {
background-color: #15161a;
box-sizing: border-box;
}

main {
align-items: center;
display: flex;
justify-content: center;
min-height: 100vh;
}

#gasses {
display: flex;
flex-wrap: wrap;
justify-content: center;

> * {
  margin: 2rem;
}
}

.gas {
--blur: 1.75rem;
--box-blur: calc(0.5 * var(--blur));
--glow: var(--color);
--size: 12rem;

align-items: center;
border-radius: 12px;
border: 4px solid currentColor;
box-shadow: 
  /* --- "glass" tube --- */
  /* inside */ inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  /* outside */      0 0 0 2px rgba(0, 0, 0, 0.15),
  /* --- glow --- */
  /* inside */ inset 0 0 var(--box-blur) var(--glow),
  /* outside */      0 0 var(--box-blur) var(--glow);
color: var(--color, white);
display: inline-flex;
flex-direction: column;
font-family: system-ui, sans-serif;
height: var(--size);
justify-content: space-around;
padding: 1rem;
width: var(--size);

> * {
  margin: 0;
  padding: 0;
}

.number { 
  font-weight: 700; 
}

.symbol { 
  font-size: 4rem; 
  font-family: 'Neon Glow';
  text-shadow: 0 0 var(--blur) var(--glow);
}

&.he { --color: #FCEAAC; filter: saturate(175%); }
&.ne { --color: #FDA802; filter: brightness(110%); }
&.ar { --color: #E555C7; filter: brightness(125%); }
&.kr { --color: #B7E7F7; filter: saturate(200%); }
&.xe { --color: #C4C4C6; filter: brightness(105%); }
}